body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Lato";
  font-size: 20px;
}
.nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #993365;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6%;
  height: auto;
  padding: 20px;
  padding-left: 2%;
}

.navList {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: #993365;
  padding: 50px;
}

.home,
.tours,
.about {
  padding: 25px;
}

.vid1 {
  width: 100%;
}

.section1 {
  padding-top: 10%;
  width: 40%;
  display: block;
  margin: auto;
}

.section2 {
  padding-top: 5%;
  width: 40%;
  display: block;
  margin: auto;
}

h1,
h2 {
  color: #993365;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section1 p,
.section2 p {
  font-family: "Lato";
  font-size: 20px;
}

.section2 input {
  border: 1px solid #993365;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 3%;
}

.footer {
  width: 100%;
  margin: 0;
  background-color: #993365;
  color: white;
  font-size: 15px;
  font-family: "Lato";
  padding-left: 10%;
  padding-bottom: 7%;
  padding-top: 6%;
  margin-top: 20%;
  display: flex;
}
.footer h1 {
  font-weight: 500;
  margin-bottom: 0;
  padding: 20px;
  color: white;
}

.some {
  margin-top: 5%;
  margin-left: 50%;
}

.tours {
  padding-top: 5%;
  width: 40%;
  display: block;
  margin: auto;
}

.tours img {
  width: 100%;
  height: auto;
}

.tours h2 {
  text-align: right;
}
.tours div {
  padding-top: 10%;
}
.tours p,
.ownerInfo p {
  font-family: "Lato";
  font-size: 20px;
}

.ownerInfo img {
  width: 80%;
  height: auto;
}

.ownerInfo {
  display: flex;
  padding-top: 10%;
  width: 50%;
  margin: auto;
  align-items: center;
}

.valuesS {
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 5%;
}

.boxValues {
  font-family: "Lato";
  font-size: 20px;
}

.valuesS h2 {
  font-size: 25px;
}

/* Change the color of links on hover */
nav a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 10px;
  color: #c25188;
}

/* Add a color to the active/current link */
nav a.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}
